# Import libraries and data

In [41]:

%cd C://Users/52667/Documents/Flood Risk Churn-Renteria-Rangel-MF/SMN - CONAGUA - SINALOA/SMN - CONAGUA - SINALOA/CSV/25033

C:\Users\52667\Documents\Flood Risk Churn-Renteria-Rangel-MF\SMN - CONAGUA - SINALOA\SMN - CONAGUA - SINALOA\CSV\25033

In [ ]:
#Instalar esta libreria para un perfilamiento
%pip install ydata-profiling

In [42]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt
%matplotlib inline

In [43]:
#get the data
data = pd.read_csv("25033.csv",
                   index_col='FECHA',
                   #parse_dates=True)
                   parse_dates=['FECHA_AUX'])
data.head(10)

            PRECIP  EVAP  TMAX  TMIN   FECHA_AUX
FECHA
01/01/1961     0.0   NaN   NaN   NaN  01/01/1961
02/01/1961     0.0   NaN   NaN   NaN  02/01/1961
03/01/1961     0.0   NaN   NaN   NaN  03/01/1961
04/01/1961     0.0   NaN   NaN   NaN  04/01/1961
05/01/1961     0.0   NaN   NaN   NaN  05/01/1961
06/01/1961     0.0   NaN   NaN   NaN  06/01/1961
07/01/1961     0.0   NaN   NaN   NaN  07/01/1961
08/01/1961     0.0   NaN   NaN   NaN  08/01/1961
09/01/1961     0.0   NaN   NaN   NaN  09/01/1961
10/01/1961     0.0   NaN   NaN   NaN  10/01/1961

In [12]:
# Check the proportion of null values in the precip feature
precip_null_values = sum(data['PRECIP'].isnull() == True)
precip_notnull_values = sum(data['PRECIP'].isnull() == False)
print("PRECIP feature has {} null values and {} not null values !".format(precip_null_values, precip_notnull_values))

PRECIP feature has 0 null values and 20401 not null values !

In [10]:
#cleaning percip variable
import math
max_precip = max(data['PRECIP'])
min_precip = min(data['PRECIP'])
mean_precip = math.ceil(round(data["PRECIP"].mean(), 0))
median_precip = math.ceil(data['PRECIP'].median())
print("precip feature : max={}, min={}, mean={}, median={}".format(max_precip, min_precip, mean_precip, median_precip))

precip feature : max=182.0, min=0.0, mean=3, median=0

In [11]:
#cleaning PRECIP variable
data['PRECIP'].fillna(value = mean_precip, inplace = True )

In [16]:
#cleaning percip variable
import math
max_evap = max(data["EVAP"])
min_evap = min(data["EVAP"])
mean_evap = math.ceil(round(data["EVAP"].mean(), 0))
median_evap = math.ceil(data["EVAP"].median())
print("precip feature : max={}, min={}, mean={}, median={}".format(max_evap, min_evap, mean_evap, median_evap))

precip feature : max=nan, min=nan, mean=6, median=6

In [17]:
data['EVAP'].fillna(value = mean_evap, inplace = True )

In [18]:
# Check the proportion of null values in the EVAP feature
evap_null_values = sum(data['EVAP'].isnull() == True)
evap_notnull_values = sum(data['EVAP'].isnull() == False)
print("Evap feature has {} null values and {} not null values !".format(evap_null_values, evap_notnull_values))

Evap feature has 0 null values and 20401 not null values !

In [21]:
#cleaning TMAX variable
import math
max_tmax = max(data["TMAX"])
min_tmax = min(data["TMAX"])
mean_tmax = math.ceil(round(data["TMAX"].mean(), 0))
median_tmax = math.ceil(data["TMAX"].median())
print("Tmax feature : max={}, min={}, mean={}, median={}".format(max_tmax, min_tmax, mean_tmax, median_tmax))

Tmax feature : max=nan, min=nan, mean=34, median=34

In [22]:
data['TMAX'].fillna(value = mean_tmax, inplace = True )

In [23]:
# Check the proportion of null values in the EVAP feature
tmax_null_values = sum(data['TMAX'].isnull() == True)
tmax_notnull_values = sum(data['TMAX'].isnull() == False)
print("Tmax feature has {} null values and {} not null values !".format(tmax_null_values, tmax_notnull_values))

Tmax feature has 0 null values and 20401 not null values !

In [24]:
#cleaning TMIN variable
import math
max_tmin = max(data["TMIN"])
min_tmin = min(data["TMIN"])
mean_tmin = math.ceil(round(data["TMIN"].mean(), 0))
median_tmin = math.ceil(data["TMIN"].median())
print("Tmin feature : max={}, min={}, mean={}, median={}".format(max_tmin, min_tmin, mean_tmin, median_tmin))

Tmin feature : max=nan, min=nan, mean=18, median=19

In [26]:
data['TMIN'].fillna(value = mean_tmin, inplace = True )

In [27]:
# Check the proportion of null values in the EVAP feature
tmin_null_values = sum(data['TMIN'].isnull() == True)
tmin_notnull_values = sum(data['TMIN'].isnull() == False)
print("Tmin feature has {} null values and {} not null values !".format(tmin_null_values, tmin_notnull_values))

Tmin feature has 0 null values and 20401 not null values !

## Imprimiendo el reporte completo

In [28]:
# To generate standard profiling report
profile = ProfileReport(data, title="Profiling Report")
profile.to_widgets()
profile.to_file(output_file='25033.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Procesando archivo actual

In [30]:
#data is cleaned
data.to_csv('25033C.csv', header=True, index=True)

In [44]:
#get the data
data = pd.read_csv('25033C.csv',
                   index_col='FECHA',
                   #parse_dates=True,
                   parse_dates=["FECHA_AUX"])
                   
data.head(2)

            PRECIP  EVAP  TMAX  TMIN   FECHA_AUX
FECHA
01/01/1961     0.0   6.0  34.0  18.0  01/01/1961
02/01/1961     0.0   6.0  34.0  18.0  02/01/1961

In [45]:
data ['FECHA_AUX'] = pd. to_datetime (data ['FECHA_AUX'], format='mixed')

In [46]:
#filter1=data["FECHA_AUX"] > '01/01/1990'
#filter2=data["FECHA_AUX"] <= '01/01/2020'
#data=data[filter1]
mask = (data["FECHA_AUX"] > "01-01-1990") & (data["FECHA_AUX"] <= "01-01-2020")
data = data.loc[mask]
data.tail(8)

            PRECIP  EVAP  TMAX  TMIN  FECHA_AUX
FECHA
24/12/2018     0.0   2.0  30.0   9.0 2018-12-24
25/12/2018     0.0   3.3  29.0   9.0 2018-12-25
26/12/2018     0.0   1.0  27.0  11.0 2018-12-26
27/12/2018     0.0   2.2  26.0   8.0 2018-12-27
28/12/2018     0.0   2.5  26.0   8.0 2018-12-28
29/12/2018     0.0   2.7  26.0   9.0 2018-12-29
30/12/2018     0.0   2.2  22.0   5.5 2018-12-30
31/12/2018     0.0   2.5  25.0   4.0 2018-12-31

In [47]:
data.dtypes

PRECIP              float64
EVAP                float64
TMAX                float64
TMIN                float64
FECHA_AUX    datetime64[ns]
dtype: object

In [48]:
# Guarda datos en CSV:
%cd C://Users/52667/Documents/Flood Risk Churn-Renteria-Rangel-MF/SMN - CONAGUA - SINALOA/SMN - CONAGUA - SINALOA/CSV/25033/1990
data.to_csv('25033_90-2018.csv', header=True, index=True)

C:\Users\52667\Documents\Flood Risk Churn-Renteria-Rangel-MF\SMN - CONAGUA - SINALOA\SMN - CONAGUA - SINALOA\CSV\25033\1990

In [56]:
#get the data
data = pd.read_csv('25033_90-2018.csv',
                   index_col='FECHA',
                   parse_dates=True)
data.tail(5)

            PRECIP  EVAP  TMAX  TMIN   FECHA_AUX
FECHA
27/12/2018     0.0   2.2  26.0   8.0  27/12/2018
28/12/2018     0.0   2.5  26.0   8.0  28/12/2018
29/12/2018     0.0   2.7  26.0   9.0  29/12/2018
30/12/2018     0.0   2.2  22.0   5.5  30/12/2018
31/12/2018     0.0   2.5  25.0   4.0  31/12/2018

In [54]:
# Este es un procsamiento mensual, agrupando por año y mes
#copiar todo lo de la columna fecha a fecha_aux
#data['FECHA_AUX']=data['FECHA']

In [57]:
data['FECHA_AUX2']=pd.to_datetime(data['FECHA_AUX'], dayfirst=True, format='%d/%m/%Y')
data.head(5)

            PRECIP  EVAP  TMAX  TMIN   FECHA_AUX FECHA_AUX2
FECHA
02/01/1990     0.0   1.1  27.0  13.0  02/01/1990 1990-01-02
03/01/1990     0.0   3.3  28.0  13.0  03/01/1990 1990-01-03
04/01/1990     0.0   2.4  27.0  14.0  04/01/1990 1990-01-04
05/01/1990     0.0   2.1  24.5  13.0  05/01/1990 1990-01-05
06/01/1990     0.0   3.3  24.0   9.0  06/01/1990 1990-01-06

In [58]:
data2=data.assign(Year=data["FECHA_AUX2"].dt.year,Month=data["FECHA_AUX2"].dt.month)
data2.tail(5)

            PRECIP  EVAP  TMAX  TMIN   FECHA_AUX FECHA_AUX2  Year  Month
FECHA
27/12/2018     0.0   2.2  26.0   8.0  27/12/2018 2018-12-27  2018     12
28/12/2018     0.0   2.5  26.0   8.0  28/12/2018 2018-12-28  2018     12
29/12/2018     0.0   2.7  26.0   9.0  29/12/2018 2018-12-29  2018     12
30/12/2018     0.0   2.2  22.0   5.5  30/12/2018 2018-12-30  2018     12
31/12/2018     0.0   2.5  25.0   4.0  31/12/2018 2018-12-31  2018     12

In [59]:
final = pd.DataFrame()
final['EVAP']=data2['EVAP'].groupby([data2["Year"], data2["Month"]]).mean()
final['PRECIP']=data2['PRECIP'].groupby([data2["Year"], data2["Month"]]).sum()
final['TMAX']=data2['TMAX'].groupby([data2["Year"], data2["Month"]]).max()
final['TMIN']=data2['TMIN'].groupby([data2["Year"], data2["Month"]]).min()
final.head(10)

                 EVAP  PRECIP  TMAX  TMIN
Year Month
1990 1       3.423333     0.0  35.0   9.0
     2       4.439286    25.0  33.0  11.0
     3       6.683871     4.0  37.0  10.5
     4       9.440000     0.0  38.5  17.0
     5      10.003226     0.0  40.0  17.0
     6       8.293333   108.5  40.0  22.0
     7       5.674194   460.5  36.0  20.0
     8       6.216129   217.0  38.0  23.5
     10      4.880645   106.0  38.5  15.5
     11      3.880000    73.0  39.0  17.5

In [60]:
final.to_csv('25033_1990_2018_mens.csv', header=True, index=True)

In [61]:
data = pd.read_csv('25033_1990_2018_mens.csv')                                          
data.head(10)

   Year  Month       EVAP  PRECIP  TMAX  TMIN
0  1990      1   3.423333     0.0  35.0   9.0
1  1990      2   4.439286    25.0  33.0  11.0
2  1990      3   6.683871     4.0  37.0  10.5
3  1990      4   9.440000     0.0  38.5  17.0
4  1990      5  10.003226     0.0  40.0  17.0
5  1990      6   8.293333   108.5  40.0  22.0
6  1990      7   5.674194   460.5  36.0  20.0
7  1990      8   6.216129   217.0  38.0  23.5
8  1990     10   4.880645   106.0  38.5  15.5
9  1990     11   3.880000    73.0  39.0  17.5

In [62]:
data["FECHA"]=data["Year"].astype("string")+"/"+ data["Month"].astype("string")+"/"+"01"
data.head(20)

    Year  Month       EVAP  PRECIP  TMAX  TMIN       FECHA
0   1990      1   3.423333     0.0  35.0   9.0   1990/1/01
1   1990      2   4.439286    25.0  33.0  11.0   1990/2/01
2   1990      3   6.683871     4.0  37.0  10.5   1990/3/01
3   1990      4   9.440000     0.0  38.5  17.0   1990/4/01
4   1990      5  10.003226     0.0  40.0  17.0   1990/5/01
5   1990      6   8.293333   108.5  40.0  22.0   1990/6/01
6   1990      7   5.674194   460.5  36.0  20.0   1990/7/01
7   1990      8   6.216129   217.0  38.0  23.5   1990/8/01
8   1990     10   4.880645   106.0  38.5  15.5  1990/10/01
9   1990     11   3.880000    73.0  39.0  17.5  1990/11/01
10  1990     12   2.993548   142.0  34.5  12.5  1990/12/01
11  1991      1   3.096774     0.0  33.0  11.0   1991/1/01
12  1991      2   4.092857     5.5  34.0  11.0   1991/2/01
13  1991      3   6.051613     0.0  40.0  13.0   1991/3/01
14  1991      4   8.756667     0.0  40.0  14.5   1991/4/01
15  1991      5   8.990323     0.0  39.0  17.0   1991/5/01
16  1991      6   9.956667     2.0  41.0  16.0   1991/6/01
17  1991      7   5.532258   297.5  37.5  23.5   1991/7/01
18  1991      8   5.874194   211.5  39.0  20.0   1991/8/01
19  1991      9   4.790000   226.5  39.0  23.0   1991/9/01

In [63]:
data2=data.assign(FECHA2= pd.to_datetime(data.FECHA, format='mixed'))
data2.head(16)
data2.set_index=data2.FECHA2
data2.to_csv('25033_1990_2018_mens.csv', header=True, index=True)

In [ ]:
# Reporte Anual de 1990 a la fecha

In [64]:
%cd C://Users/52667/Documents/Flood Risk Churn-Renteria-Rangel-MF/SMN - CONAGUA - SINALOA/SMN - CONAGUA - SINALOA/CSV/25033

C:\Users\52667\Documents\Flood Risk Churn-Renteria-Rangel-MF\SMN - CONAGUA - SINALOA\SMN - CONAGUA - SINALOA\CSV\25033

In [65]:
#get the data
data = pd.read_csv('25033_90-2018.csv',
                   index_col='FECHA',
                   #parse_dates=True,
                   parse_dates=["FECHA_AUX"])
                   
data.head(10)

            PRECIP  EVAP  TMAX  TMIN   FECHA_AUX
FECHA
02/01/1990     0.0   1.1  27.0  13.0  02/01/1990
03/01/1990     0.0   3.3  28.0  13.0  03/01/1990
04/01/1990     0.0   2.4  27.0  14.0  04/01/1990
05/01/1990     0.0   2.1  24.5  13.0  05/01/1990
06/01/1990     0.0   3.3  24.0   9.0  06/01/1990
07/01/1990     0.0   4.3  27.0  10.0  07/01/1990
08/01/1990     0.0   3.1  29.0  10.0  08/01/1990
09/01/1990     0.0   4.2  31.5  11.0  09/01/1990
10/01/1990     0.0   3.5  32.0  13.0  10/01/1990
11/01/1990     0.0   3.7  24.0  15.0  11/01/1990

In [66]:
#convert 'PRECIP' column to integer
data['FECHA_AUX2']=pd.to_datetime(data['FECHA_AUX'], dayfirst=True, format='%d/%m/%Y')
data.head(5)

            PRECIP  EVAP  TMAX  TMIN   FECHA_AUX FECHA_AUX2
FECHA
02/01/1990     0.0   1.1  27.0  13.0  02/01/1990 1990-01-02
03/01/1990     0.0   3.3  28.0  13.0  03/01/1990 1990-01-03
04/01/1990     0.0   2.4  27.0  14.0  04/01/1990 1990-01-04
05/01/1990     0.0   2.1  24.5  13.0  05/01/1990 1990-01-05
06/01/1990     0.0   3.3  24.0   9.0  06/01/1990 1990-01-06

In [67]:
data2=data.assign(Year=data["FECHA_AUX2"].dt.year)
data2.head(5)

            PRECIP  EVAP  TMAX  TMIN   FECHA_AUX FECHA_AUX2  Year
FECHA
02/01/1990     0.0   1.1  27.0  13.0  02/01/1990 1990-01-02  1990
03/01/1990     0.0   3.3  28.0  13.0  03/01/1990 1990-01-03  1990
04/01/1990     0.0   2.4  27.0  14.0  04/01/1990 1990-01-04  1990
05/01/1990     0.0   2.1  24.5  13.0  05/01/1990 1990-01-05  1990
06/01/1990     0.0   3.3  24.0   9.0  06/01/1990 1990-01-06  1990

In [68]:
finalB = pd.DataFrame()
finalB['EVAP']=data2['EVAP'].groupby(data2["Year"]).mean()
finalB['PRECIP']=data2['PRECIP'].groupby(data2["Year"]).sum()
finalB['TMAX']=data2['TMAX'].groupby(data2["Year"]).max()
finalB['TMIN']=data2['TMIN'].groupby(data2["Year"]).min()
finalB.head(30)

          EVAP  PRECIP  TMAX  TMIN
Year
1990  6.004192  1136.0  40.0   9.0
1991  5.650685  1046.5  41.0  11.0
1992  6.008060   761.2  40.5  10.5
1993  5.777313   969.0  44.0  12.0
1994  5.915634  1056.0  43.0   8.5
1995  5.907385   669.0  41.0   8.0
1996  6.004050   924.5  41.0   7.0
1997  5.651672   930.0  41.0   3.5
1998  6.155342   535.0  43.0   4.5
1999  6.426243   598.6  42.0   6.0
2000  5.623497  1209.5  43.0   5.5
2001  5.136712   713.7  44.0   6.5
2002  5.883562   637.0  44.0   7.0
2003  5.517500   704.0  42.0   7.0
2004  5.124405  1199.0  42.0   6.0
2005  4.780062   673.4  40.0   8.5
2006  5.448204   992.0  40.0   8.5
2007  5.118976   912.5  41.5   5.0
2008  5.064506  1012.0  40.0   6.5
2009  5.116923   788.0  43.0   9.5
2010  5.098795   573.0  42.0   8.0
2011  5.584756   734.5  41.0   1.5
2012  5.140120   775.5  41.5   8.0
2013  5.325672   989.0  41.0   7.0
2014  5.129552   945.0  42.0   8.0
2015  4.685329  1115.5  41.0   5.0
2016  5.426645   517.5  43.0   6.0
2017  5.161976   703.0  40.0   7.0
2018  4.921557   748.0  40.0   4.0

In [70]:
%cd C://Users/52667/Documents/Flood Risk Churn-Renteria-Rangel-MF/SMN - CONAGUA - SINALOA/SMN - CONAGUA - SINALOA/CSV/25033/1990

C:\Users\52667\Documents\Flood Risk Churn-Renteria-Rangel-MF\SMN - CONAGUA - SINALOA\SMN - CONAGUA - SINALOA\CSV\25033\1990

In [71]:
finalB.to_csv('25033_1990_2018_anual.csv', header=True, index=True)

In [72]:
data = pd.read_csv('25033_1990_2018_anual.csv')                                          
data.tail(5)

    Year      EVAP  PRECIP  TMAX  TMIN
24  2014  5.129552   945.0  42.0   8.0
25  2015  4.685329  1115.5  41.0   5.0
26  2016  5.426645   517.5  43.0   6.0
27  2017  5.161976   703.0  40.0   7.0
28  2018  4.921557   748.0  40.0   4.0

In [73]:
data["FECHA"]=data["Year"].astype("string")+"/"+"/"+"01"+"/"+"01"
data.head(20)

    Year      EVAP  PRECIP  TMAX  TMIN        FECHA
0   1990  6.004192  1136.0  40.0   9.0  1990//01/01
1   1991  5.650685  1046.5  41.0  11.0  1991//01/01
2   1992  6.008060   761.2  40.5  10.5  1992//01/01
3   1993  5.777313   969.0  44.0  12.0  1993//01/01
4   1994  5.915634  1056.0  43.0   8.5  1994//01/01
5   1995  5.907385   669.0  41.0   8.0  1995//01/01
6   1996  6.004050   924.5  41.0   7.0  1996//01/01
7   1997  5.651672   930.0  41.0   3.5  1997//01/01
8   1998  6.155342   535.0  43.0   4.5  1998//01/01
9   1999  6.426243   598.6  42.0   6.0  1999//01/01
10  2000  5.623497  1209.5  43.0   5.5  2000//01/01
11  2001  5.136712   713.7  44.0   6.5  2001//01/01
12  2002  5.883562   637.0  44.0   7.0  2002//01/01
13  2003  5.517500   704.0  42.0   7.0  2003//01/01
14  2004  5.124405  1199.0  42.0   6.0  2004//01/01
15  2005  4.780062   673.4  40.0   8.5  2005//01/01
16  2006  5.448204   992.0  40.0   8.5  2006//01/01
17  2007  5.118976   912.5  41.5   5.0  2007//01/01
18  2008  5.064506  1012.0  40.0   6.5  2008//01/01
19  2009  5.116923   788.0  43.0   9.5  2009//01/01

In [74]:
data2=data.assign(FECHA2= pd.to_datetime(data.FECHA, format='mixed'))
data2.head(16)
data2.set_index=data2.FECHA2
data2.to_csv('25033_1990_2018_anual.csv', header=True, index=True)

In [75]:
%cd C://Users/52667/Documents/Flood Risk Churn-Renteria-Rangel-MF/SMN - CONAGUA - SINALOA/SMN - CONAGUA - SINALOA/CSV/25033

C:\Users\52667\Documents\Flood Risk Churn-Renteria-Rangel-MF\SMN - CONAGUA - SINALOA\SMN - CONAGUA - SINALOA\CSV\25033

In [76]:
#get the data
data = pd.read_csv('25033C.csv',
                   index_col='FECHA')
                   #parse_dates=True,
                   #parse_dates=["FECHA_AUX"])
                   
data.head(10)

            PRECIP  EVAP  TMAX  TMIN   FECHA_AUX
FECHA
01/01/1961     0.0   6.0  34.0  18.0  01/01/1961
02/01/1961     0.0   6.0  34.0  18.0  02/01/1961
03/01/1961     0.0   6.0  34.0  18.0  03/01/1961
04/01/1961     0.0   6.0  34.0  18.0  04/01/1961
05/01/1961     0.0   6.0  34.0  18.0  05/01/1961
06/01/1961     0.0   6.0  34.0  18.0  06/01/1961
07/01/1961     0.0   6.0  34.0  18.0  07/01/1961
08/01/1961     0.0   6.0  34.0  18.0  08/01/1961
09/01/1961     0.0   6.0  34.0  18.0  09/01/1961
10/01/1961     0.0   6.0  34.0  18.0  10/01/1961

In [77]:
data['FECHA_AUX2']=pd.to_datetime(data['FECHA_AUX'], dayfirst=True, format='%d/%m/%Y')
data.head(5)

            PRECIP  EVAP  TMAX  TMIN   FECHA_AUX FECHA_AUX2
FECHA
01/01/1961     0.0   6.0  34.0  18.0  01/01/1961 1961-01-01
02/01/1961     0.0   6.0  34.0  18.0  02/01/1961 1961-01-02
03/01/1961     0.0   6.0  34.0  18.0  03/01/1961 1961-01-03
04/01/1961     0.0   6.0  34.0  18.0  04/01/1961 1961-01-04
05/01/1961     0.0   6.0  34.0  18.0  05/01/1961 1961-01-05

In [78]:
data2=data.assign(Year=data["FECHA_AUX2"].dt.year,Month=data["FECHA_AUX2"].dt.month)
data2.head(35)

            PRECIP  EVAP  TMAX  TMIN   FECHA_AUX FECHA_AUX2  Year  Month
FECHA
01/01/1961     0.0   6.0  34.0  18.0  01/01/1961 1961-01-01  1961      1
02/01/1961     0.0   6.0  34.0  18.0  02/01/1961 1961-01-02  1961      1
03/01/1961     0.0   6.0  34.0  18.0  03/01/1961 1961-01-03  1961      1
04/01/1961     0.0   6.0  34.0  18.0  04/01/1961 1961-01-04  1961      1
05/01/1961     0.0   6.0  34.0  18.0  05/01/1961 1961-01-05  1961      1
06/01/1961     0.0   6.0  34.0  18.0  06/01/1961 1961-01-06  1961      1
07/01/1961     0.0   6.0  34.0  18.0  07/01/1961 1961-01-07  1961      1
08/01/1961     0.0   6.0  34.0  18.0  08/01/1961 1961-01-08  1961      1
09/01/1961     0.0   6.0  34.0  18.0  09/01/1961 1961-01-09  1961      1
10/01/1961     0.0   6.0  34.0  18.0  10/01/1961 1961-01-10  1961      1
11/01/1961     0.0   6.0  34.0  18.0  11/01/1961 1961-01-11  1961      1
12/01/1961     0.0   6.0  34.0  18.0  12/01/1961 1961-01-12  1961      1
13/01/1961     0.0   6.0  32.5  18.0  13/01/1961 1961-01-13  1961      1
14/01/1961     0.0   6.0  32.5  11.0  14/01/1961 1961-01-14  1961      1
15/01/1961     0.0   5.2  32.0  10.5  15/01/1961 1961-01-15  1961      1
16/01/1961     0.0   4.9  30.0  13.0  16/01/1961 1961-01-16  1961      1
17/01/1961     1.4   3.5  28.0  14.0  17/01/1961 1961-01-17  1961      1
18/01/1961    13.9   1.4  22.0  18.0  18/01/1961 1961-01-18  1961      1
19/01/1961    26.1   1.7  22.5  19.0  19/01/1961 1961-01-19  1961      1
20/01/1961    32.6   4.0  24.0  19.5  20/01/1961 1961-01-20  1961      1
21/01/1961     1.7   5.0  29.0  19.0  21/01/1961 1961-01-21  1961      1
22/01/1961    24.9   3.9  21.5  18.0  22/01/1961 1961-01-22  1961      1
23/01/1961    16.2   3.5  19.0  17.5  23/01/1961 1961-01-23  1961      1
24/01/1961     0.0   2.6  27.5  14.0  24/01/1961 1961-01-24  1961      1
25/01/1961     0.0   3.0  29.0  14.0  25/01/1961 1961-01-25  1961      1
26/01/1961     0.0   3.4  31.0  13.0  26/01/1961 1961-01-26  1961      1
27/01/1961     0.0   4.2  30.5  12.5  27/01/1961 1961-01-27  1961      1
28/01/1961     0.0   4.1  29.5  12.0  28/01/1961 1961-01-28  1961      1
29/01/1961     0.0   4.1  31.0  12.0  29/01/1961 1961-01-29  1961      1
30/01/1961     0.0   4.3  29.0  13.0  30/01/1961 1961-01-30  1961      1
31/01/1961     0.0   3.5  33.5  15.0  31/01/1961 1961-01-31  1961      1
01/02/1961     0.0   5.1  31.0  12.5  01/02/1961 1961-02-01  1961      2
02/02/1961     0.0   5.3  31.5  12.5  02/02/1961 1961-02-02  1961      2
03/02/1961     0.0   4.7  29.0  12.5  03/02/1961 1961-02-03  1961      2
04/02/1961     0.0   5.6  28.5  13.0  04/02/1961 1961-02-04  1961      2

In [79]:
final = pd.DataFrame()
final['EVAP']=data2['EVAP'].groupby([data2["Year"], data2["Month"]]).mean()
final['PRECIP']=data2['PRECIP'].groupby([data2["Year"], data2["Month"]]).sum()
final['TMAX']=data2['TMAX'].groupby([data2["Year"], data2["Month"]]).max()
final['TMIN']=data2['TMIN'].groupby([data2["Year"], data2["Month"]]).min()
final.head(10)

                 EVAP  PRECIP  TMAX  TMIN
Year Month
1961 1       4.719355   116.8  34.0  10.5
     2       5.575000     0.0  39.0   8.0
     3       7.538710     0.0  39.5   9.5
     4       9.540000    16.7  41.0  12.5
     5      10.893548     0.0  42.0  11.5
     6       9.586667    80.4  42.0  22.0
     7       7.170968   259.6  40.0  21.5
     8       6.754839   233.2  39.5  21.0
     9       5.803333   285.9  37.5  22.0
     10      5.048387    95.2  39.0  17.5

In [80]:
%cd C://Users/52667/Documents/Flood Risk Churn-Renteria-Rangel-MF/SMN - CONAGUA - SINALOA/SMN - CONAGUA - SINALOA/CSV/25033/total

C:\Users\52667\Documents\Flood Risk Churn-Renteria-Rangel-MF\SMN - CONAGUA - SINALOA\SMN - CONAGUA - SINALOA\CSV\25033\total

In [81]:
final.to_csv('25033_mens.csv', header=True, index=True)

In [82]:
data = pd.read_csv('25033_mens.csv')                                          
data.head(10)

   Year  Month       EVAP  PRECIP  TMAX  TMIN
0  1961      1   4.719355   116.8  34.0  10.5
1  1961      2   5.575000     0.0  39.0   8.0
2  1961      3   7.538710     0.0  39.5   9.5
3  1961      4   9.540000    16.7  41.0  12.5
4  1961      5  10.893548     0.0  42.0  11.5
5  1961      6   9.586667    80.4  42.0  22.0
6  1961      7   7.170968   259.6  40.0  21.5
7  1961      8   6.754839   233.2  39.5  21.0
8  1961      9   5.803333   285.9  37.5  22.0
9  1961     10   5.048387    95.2  39.0  17.5

In [83]:
data["FECHA"]=data["Year"].astype("string")+"/"+ data["Month"].astype("string")+"/"+"01"
data.head(20)

    Year  Month       EVAP  PRECIP  TMAX  TMIN       FECHA
0   1961      1   4.719355   116.8  34.0  10.5   1961/1/01
1   1961      2   5.575000     0.0  39.0   8.0   1961/2/01
2   1961      3   7.538710     0.0  39.5   9.5   1961/3/01
3   1961      4   9.540000    16.7  41.0  12.5   1961/4/01
4   1961      5  10.893548     0.0  42.0  11.5   1961/5/01
5   1961      6   9.586667    80.4  42.0  22.0   1961/6/01
6   1961      7   7.170968   259.6  40.0  21.5   1961/7/01
7   1961      8   6.754839   233.2  39.5  21.0   1961/8/01
8   1961      9   5.803333   285.9  37.5  22.0   1961/9/01
9   1961     10   5.048387    95.2  39.0  17.5  1961/10/01
10  1961     11   3.756667     9.0  36.5   9.0  1961/11/01
11  1961     12   3.167742    22.2  34.0   9.0  1961/12/01
12  1962      1   4.883871    19.2  34.0   5.5   1962/1/01
13  1962      2   5.360714     0.0  35.0   9.5   1962/2/01
14  1962      3   7.577419     0.0  37.0   8.5   1962/3/01
15  1962      4  10.033333    12.0  42.0  12.0   1962/4/01
16  1962      5  11.416129     0.0  42.0  18.0   1962/5/01
17  1962      6   9.803333    38.7  43.5  18.0   1962/6/01
18  1962      7   7.545161   168.4  41.0  21.0   1962/7/01
19  1962      8   7.383871   252.6  40.0  21.0   1962/8/01

In [84]:
data2=data.assign(FECHA2= pd.to_datetime(data.FECHA, format='mixed'))
data2.head(16)
data2.set_index=data2.FECHA2
data2.to_csv('25033_mens.csv', header=True, index=True)

## Procesamiento anual total

In [85]:
%cd C://Users/52667/Documents/Flood Risk Churn-Renteria-Rangel-MF/SMN - CONAGUA - SINALOA/SMN - CONAGUA - SINALOA/CSV/25033

C:\Users\52667\Documents\Flood Risk Churn-Renteria-Rangel-MF\SMN - CONAGUA - SINALOA\SMN - CONAGUA - SINALOA\CSV\25033

In [86]:
#get the data
data = pd.read_csv('25033C.csv',
                   index_col='FECHA')
                   #parse_dates=True,
                   #parse_dates=["FECHA_AUX"])
                   
data.head(10)

            PRECIP  EVAP  TMAX  TMIN   FECHA_AUX
FECHA
01/01/1961     0.0   6.0  34.0  18.0  01/01/1961
02/01/1961     0.0   6.0  34.0  18.0  02/01/1961
03/01/1961     0.0   6.0  34.0  18.0  03/01/1961
04/01/1961     0.0   6.0  34.0  18.0  04/01/1961
05/01/1961     0.0   6.0  34.0  18.0  05/01/1961
06/01/1961     0.0   6.0  34.0  18.0  06/01/1961
07/01/1961     0.0   6.0  34.0  18.0  07/01/1961
08/01/1961     0.0   6.0  34.0  18.0  08/01/1961
09/01/1961     0.0   6.0  34.0  18.0  09/01/1961
10/01/1961     0.0   6.0  34.0  18.0  10/01/1961

In [87]:
data['FECHA_AUX2']=pd.to_datetime(data['FECHA_AUX'], dayfirst=True, format='%d/%m/%Y')
data2=data.assign(Year=data["FECHA_AUX2"].dt.year)
finalB = pd.DataFrame()
finalB['EVAP']=data2['EVAP'].groupby(data2["Year"]).mean()
finalB['PRECIP']=data2['PRECIP'].groupby(data2["Year"]).sum()
finalB['TMAX']=data2['TMAX'].groupby(data2["Year"]).max()
finalB['TMIN']=data2['TMIN'].groupby(data2["Year"]).min()
finalB.head(10)

          EVAP  PRECIP  TMAX  TMIN
Year
1961  6.632329  1119.0  42.0   8.0
1962  6.917260   826.7  43.5   5.5
1963  6.746027  1419.9  44.0   7.5
1964  6.750273   797.6  43.5   6.0
1965  7.028767   735.8  44.5   6.5
1966  6.576986   777.6  45.0   5.5
1967  6.220000   992.4  44.0   5.5
1968  5.577596   861.0  41.5   8.5
1969  6.050137   735.5  47.0   6.0
1970  6.135890   844.7  43.5   9.0

In [88]:
%cd C://Users/52667/Documents/Flood Risk Churn-Renteria-Rangel-MF/SMN - CONAGUA - SINALOA/SMN - CONAGUA - SINALOA/CSV/25033/total

C:\Users\52667\Documents\Flood Risk Churn-Renteria-Rangel-MF\SMN - CONAGUA - SINALOA\SMN - CONAGUA - SINALOA\CSV\25033\total

In [89]:
finalB.to_csv('25033_anual.csv', header=True, index=True)

In [90]:
data = pd.read_csv('25033_anual.csv')                                          
data.tail(5)

    Year      EVAP  PRECIP  TMAX  TMIN
53  2014  5.129552   945.0  42.0   8.0
54  2015  4.685329  1115.5  41.0   5.0
55  2016  5.426645   517.5  43.0   6.0
56  2017  5.161976   703.0  40.0   7.0
57  2018  4.921557   748.0  40.0   4.0

In [91]:
data["FECHA"]=data["Year"].astype("string")+"/"+"/"+"01"+"/"+"01"
data.head(20)

    Year      EVAP  PRECIP  TMAX  TMIN        FECHA
0   1961  6.632329  1119.0  42.0   8.0  1961//01/01
1   1962  6.917260   826.7  43.5   5.5  1962//01/01
2   1963  6.746027  1419.9  44.0   7.5  1963//01/01
3   1964  6.750273   797.6  43.5   6.0  1964//01/01
4   1965  7.028767   735.8  44.5   6.5  1965//01/01
5   1966  6.576986   777.6  45.0   5.5  1966//01/01
6   1967  6.220000   992.4  44.0   5.5  1967//01/01
7   1968  5.577596   861.0  41.5   8.5  1968//01/01
8   1969  6.050137   735.5  47.0   6.0  1969//01/01
9   1970  6.135890   844.7  43.5   9.0  1970//01/01
10  1971  6.192329   991.4  44.0   5.5  1971//01/01
11  1972  5.964208   702.9  44.0   8.5  1972//01/01
12  1973  6.137260   910.2  44.0   4.0  1973//01/01
13  1974  6.190685   853.5  41.5   6.0  1974//01/01
14  1975  5.415068   911.8  40.0   7.5  1975//01/01
15  1976  6.360109   771.5  42.5   7.5  1976//01/01
16  1977  6.658082   914.0  42.0   8.5  1977//01/01
17  1978  6.337260  1077.1  40.0  11.5  1978//01/01
18  1979  6.340548   765.4  42.5   9.0  1979//01/01
19  1980  6.106557  1050.0  42.5  12.0  1980//01/01

In [92]:
data2=data.assign(FECHA2= pd.to_datetime(data.FECHA, format='mixed'))
data2.head(16)
data2.set_index=data2.FECHA2
data2.to_csv('25033_anual.csv', header=True, index=True)