# Import libraries and data

In [2]:
%cd D://Flood Risk Churn-MF/Evaluacion del dataset 25001 para validacion de articulo

D:\Flood Risk Churn-MF\Evaluacion del dataset 25001 para validacion de articulo

In [ ]:
#Instalar esta libreria para un perfilamiento
%pip install ydata-profiling

In [6]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
#get the data
data = pd.read_csv("25001_D.csv",
                   index_col='FECHA',
                   #parse_dates=True)
                   parse_dates=['FECHA_AUX'])
data.head(5)

            PRECIP  EVAP  TMAX  TMIN   FECHA_AUX
FECHA
01/01/1961     0.0   5.0  25.0  13.0  01/01/1961
02/01/1961     0.0   5.0  27.5  14.0  02/01/1961
03/01/1961     0.0   5.0  31.0  11.0  03/01/1961
04/01/1961     0.0   5.0  32.0  13.0  04/01/1961
05/01/1961     0.0   5.0  29.0  14.0  05/01/1961

## Procesando archivo 1995-actual

In [10]:
data ['FECHA_AUX'] = pd. to_datetime (data ['FECHA_AUX'], format='mixed')

In [11]:
mask = (data["FECHA_AUX"] > "01-01-1995") & (data["FECHA_AUX"] <= "01-01-2020")
data = data.loc[mask]
data.tail(8)

            PRECIP  EVAP  TMAX  TMIN  FECHA_AUX
FECHA
24/07/2018     9.0   4.8  35.0  23.0 2018-07-24
25/07/2018     0.0   3.3  36.0  23.5 2018-07-25
26/07/2018     3.0   4.5  32.0  23.5 2018-07-26
27/07/2018     2.3   0.6  37.0  19.0 2018-07-27
28/07/2018     9.8   3.7  37.0  23.5 2018-07-28
29/07/2018     6.0   3.3  35.0  20.0 2018-07-29
30/07/2018    48.0   6.0  36.0  22.0 2018-07-30
31/07/2018     2.0   3.7  34.0  22.0 2018-07-31

In [12]:
data.dtypes

PRECIP              float64
EVAP                float64
TMAX                float64
TMIN                float64
FECHA_AUX    datetime64[ns]
dtype: object

In [13]:
# Guarda datos en CSV:
data.to_csv('25001_95.csv', header=True, index=True)

In [14]:
#get the data
data = pd.read_csv('25001_95.csv',
                   index_col='FECHA',
                   parse_dates=True)
data.head(10)

            PRECIP  EVAP  TMAX  TMIN   FECHA_AUX
FECHA
02/01/1995     0.0   2.8  27.0  12.0  1995-02-01
03/01/1995     0.0   2.4  29.0   7.5  1995-03-01
04/01/1995     0.0   2.1  29.5   6.0  1995-04-01
05/01/1995     0.0   1.9  30.0   7.0  1995-05-01
06/01/1995     0.0   3.0  34.5   6.0  1995-06-01
07/01/1995     0.0   3.1  35.0   6.0  1995-07-01
08/01/1995     0.0   3.0  36.0   5.5  1995-08-01
09/01/1995     0.0   3.9  35.0   5.0  1995-09-01
10/01/1995     0.0   3.2  34.0   7.0  1995-10-01
11/01/1995     0.0   3.7  33.0   7.5  1995-11-01